{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static '/css/escolher_projeto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Escolha um projeto disponível</p>
            <a class="button" href="{% url 'perfil' %}">Voltar para tela principal</a>
        </div>
        <hr class="space">

        <table class="tabela">
            <thead>
                <tr>
                    <th class="header">Nome</th>
                    <th class="header">Disponivel</th>
                </tr>
            </thead>
        </table>
        <div class="scroll">
            <table class="tabela">
                {% for proj in projetos %}
                    <tr>
                        <td><a href="{% url 'projeto' proj.id %}">{{proj.titulo}}</a></td>
                        <td>{{proj.disponível}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>    

        <div class="btn_center">
            <button class="button">Escolher projeto</button>
        </div>
    </div>
{% endblock %}
