{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="static/css/turma.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row" id="header">
            <p>{{turma.nome}}</p>
            <p>{{turma.professor}}</p>
            <button class="button">Voltar para tela principal</button>
        </div>
        <div class="row space">
            <p>{{turma.disciplina}}</p>
            <p style="margin-right: 510px;">{{tuma.departamento}}</p>
        </div>
        
        <div class="row space">
            <button class="button">Escolher projeto</button>
            <button class="button">Propor projeto</button>
        </div>
    </div>
{% endblock %}