body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0F29B0;
}

.img-logo{
    display: block;
    width: 100%;
    max-width: 400px;
    margin: auto;
}