.container {
    width: 800px;
    background-color: #D1D3EC;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
  

p{
    margin-bottom: 20px;
}


.registration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-height: 40px;
    width: 90%;
}
  
.button {
    padding: 10px 20px;
    background-color: #A1B6FF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

.button:hover {
    background-color: #597dff;
}

.space{
    margin-bottom: 20px;
}

.field{
    height: 45px;
    width: 90%;
    display: flex;
    margin: auto;
    background: rgba(255,255,255,0.94);
}

.field span{
    padding-left: 10px;
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input{
    margin-left: 10px;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}

.filtro{
    display: flex;
    margin: auto;
    width: 90%;
}

#find-button{
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    margin: auto;
}

#find-button:hover{
    background-color: rgb(152, 152, 152);
}