{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/cad_aluno.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Cadastro de Turma</p>
            <a href="{% url 'perfil' %}" class="button">Voltar para tela principal</a>
        </div>
        <form class="registration-form" method="post">
            {% csrf_token %}
            <div class="column space">

                <label for="disciplina">Selecione a disciplina:</label>
                <select name="disciplina" required>
                {% for disc in disciplinas %}
                  <option value="{{ disc.pk }}">{{ disc }}</option>
                {% endfor %}
                </select>

                <label for="ano">Ano:</label>
                <input type="number" name="ano" required>
            </div>

            <div class="column">
                <label for="num_turma">Codigo da Turma:</label>
                <input type="text" name="codigo" required>

                <label for="periodo">Período:</label>
                <input type="text" name="periodo" required>
            </div>
            <input class="button" type="submit" value="Cadastrar">
        </form>
    </div>
{% endblock %}
