{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/perfil.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
        <div class="container">
            <div class="row">
              <p>Tela principal - Professor - {{ usuario.nome }}</p>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button" id="btn-sair">Sair</button>
                </form>
            </div>
            <hr class="space">
            
            <div class="btn space">
                <a class="button" href="{% url 'consulta_projeto' %}">Consultar projeto</a>
            </div>
            <div class="btn space">
                <a class="button" href="{% url 'turmas' %}">Turmas</a>
            </div>
            <div class="btn space">
                <a class="button" href="{% url 'cadastro_aluno' %}">
                    Cadastrar aluno
                </a>    
            </div>

            <div class="row space">
                <div class="btn">
                    <a class="button" href="{% url 'cadastrar_turma' %}">Cadastrar turma</a></div>
            </div>
            <div class="btn">
                <a class="button" href="{% url 'propostas' %}">Avaliar proposta de projeto</a>
            </div>
            <div style="margin-bottom: 150px;"></div>
        </div>
{% endblock %}
