{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/resultado_projeto.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Propostas</p>
            <a class="button" href="{% url 'perfil' %}">Voltar para tela principal</a>
        </div>
        <hr class="space">

        <table class="tabela">
            <thead>
                <tr>
                    <th class="header">Titulo (Clique para detalhes)</th>
                    <th class="header">Descrição</th>
                    <th class="header">Autor</th>
                </tr>
            </thead>
            <div class="scroll">
              <tbody>
                {% for prop in propostas %}
                  <tr>
                    <td>
                      <a href="{% url 'detalhe_proposta' id_turma prop.pk %}">
                        {{ prop.titulo }}
                      </a>
                    </td>
                    <td>{{ prop.descricao }}</td>
                    <td>{{ prop.autor }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </div>
        </table>
    </div>
{% endblock %}
