{% extends 'base.html' %} {% load static %} {% block 'head' %}
<link href="{% static 'css/turma.css' %}" rel="stylesheet" />
{% endblock %} {% block 'content' %}
<div class="container">
  <div class="row">
    <p>{{ turma }}</p>
    <a href="{% url 'perfil' %}" class="button">Voltar para tela principal</a>
  </div>

  <div class="row">
    <p>Professor: {{ turma.professor }}</p>
  </div>

  <hr class="space" />

  <div class="row space">
    <a class="button" href="{% url 'ofertar_projeto' turma.id %}">Ofertar projeto</a>
    <a class="button" href="{% url 'adicionar_aluno' turma.id %}">Adicionar aluno</a>
  </div>

  <div class="row space">
    <a class="button" href="{% url 'participantes_turma' turma.id %}">Participantes</a>
    <a class="button" href="{% url 'propostas' turma.id %}">Propostas</a>
  </div>

  <div class="row space">
    <a class="button" href="{% url 'projetos_turma' turma.id %}">Projetos</a>
  </div>

</div>
{% endblock %}
