{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/cad_aluno.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Cadastro de Aluno</p>
            <a href="{% url 'perfil' %}" class="button">Voltar para tela principal</a>
        </div>
        <form class="registration-form">
            <div class="column space">
                <label for="nome">Primeiro nome:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>

            <div class="column">
                <label for="sobrenome">Sobrenome:</label>
                <input type="sobrenome" id="sobrenome" name="sobrenome" required>

                <label for="matricula">Matrícula:</label>
                <input type="text" id="matricula" name="matricula" required>
            </div>
            <input class="button" type="submit" value="Cadastrar">
        </form>
    </div>
{% endblock %}