{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="static/css/resultado_projeto.css" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Propostas</p>
            <button class="button">Voltar para tela principal</button>
        </div>
        <hr class="space">

        <table class="tabela">
            <thead>
                <tr>
                    <th class="header">Nome</th>
                    <th class="header">Aluno</th>
                    <th class="header">Disciplina</th>
                </tr>
            </thead>
        </table>
        <div class="scroll">
            <table class="tabela">
                {% for prop in propostas %}
                    <tr>
                        <td><input type="radio" name="rd-button">{{prop.nome}}</td>
                        <td>{{prop.aluno}}</td>
                        <td>{{prop.disciplina}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="btn_center">
            <button class="button">Ver proposta</button>
        </div>
        
    </div>
{% endblock %}