{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="{% static 'css/consulta_projeto.css' %}" rel="stylesheet">

{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Consulta de projeto</p>
            <a class="button" href="{% url 'perfil' %}">Voltar para tela principal</a>
        </div>
        <hr class="row">
        <form class="registration-form space" id="proj-form" method="post"> {% csrf_token %}

            <div class="field">
                <label for="nome">Nome </label>
                <input name="nome_proj" type="text" id="nome-proj" autofocus="true" placeholder="Opcional" >
                <span class="fas fa-search"></span>
            </div>
            <div class="field">
                <label for="tags">Tags </label>
                <input name="tags" type="text" id="tags" autofocus="true" placeholder="Opcional" >
                <span class="fas fa-search"></span>
            </div>
        
            <div>
                <label for="turma">Turma </label>
                <select name="turma">
                  <option value="">Opcional</option>
                  {% for turma in turmas %}
                    <option value="{{ turma.pk }}">{{ turma }}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="field">
                <label for="data">Criados a partir de </label>
                <input name="data" type="date" id="data" autofocus="true" >
            </div>

        <div class="filtro">
            <button id="find-button" type="submit" form="proj-form">Buscar</button>
            <button id="find-button" >Cancelar</button>
        </div>
        <div style="margin-bottom: 150px;"></div>
    </div>
{% endblock %}
