{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static '/css/cad_aluno.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Editar projeto</p>
            <a href="{% url 'perfil' %}" class="button">Voltar para tela principal</a>
        </div>

        <form class="registration-form" method="post">
            {% csrf_token %}
            <div class="column space">
              <label for="versao">Atualizar versão:</label>
              <input type="text" name="versao" value="{{ projeto.versao }}">

              <label for="tags">Atualizar tags:</label>
              <input type="text" name="tags" value="{{ projeto.tags }}">

              <label for="descricao">Atualizar descrição:</label>
              <input type="text" name="descricao" value="{{ projeto.descricao }}">
            </div>

            <div class="column space">
              <label for="nome">Atualizar título:</label>
              <input type="text" name="nome" value="{{ projeto.titulo }}">

              <label for="visibilidade">Atualizar visibilidade:</label>
              <select name="visibilidade">
                <option value="Publico" {% if projeto.publico %}selected{% endif %}>Público</option>
                <option value="" {% if not projeto.publico %}selected{% endif %}>Privado</option>
              </select>

              <label for="status">Atualizar estado:</label>
              <select name="status">
                <option value={{ projeto.status }} selected>{{ projeto.status }}</option>
                {% for op in outras_opcoes %}
                <option type="text" value="{{ op }}">{{ op }}</option>
                {% endfor %}
              </select>

            </div>

              <input class="button" type="submit" value="Salvar Alterações"></button>
        </form>
    </div>
{% endblock %}
