{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/projeto2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <h2>{{projeto.titulo}}</h2>
            <a class="button" href="{% url 'perfil' %}">Voltar para tela principal</a>
        </div>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}

        <div class="content">
            <div class="column">
              <p><strong>Departamento:</strong> {{projeto.turma.disciplina.departamento}}</p>
              <p><strong>Turma:</strong> {{ projeto.turma }}</p>
              <p><strong>Tags:</strong> {{ tags }}</p>
            </div>
            <div class="column">
              <p><strong>Estado:</strong> {{projeto.status}}</p>
              <p><strong>Professor:</strong> {{projeto.turma.professor}}</p>
              <p><strong>Descrição:</strong> {{projeto.descricao}}</p>
              {% if projeto.versao %}
              <p><strong>Versão:</strong> {{projeto.versao}}</p>
              {% endif %}
            </div>
        </div>

        {% if autorizado %}
          <div class="row space">
            <a class="button" href="{% url 'adicionar_membro' projeto.pk %}">Adicionar membro a um projeto</a>
            <a class="button" href="{% url 'editar_projeto' projeto.pk %}">Editar detalhes do projeto</a>
          </div>
        {% endif %}

        <div>
            <h3>Equipe</h3>
            <table class="tabela">
                <thead>
                    <tr>
                        <th class="header">Nome</th>
                        <th class="header">Email</th>
                        <th class="header">Matricula</th>
                    </tr>
                </thead>
            </table>
            <div class="scroll">
                <table class="tabela">
                    {% for aluno in membros %}
                        <tr>
                            <td>{{aluno.nome}}</td>
                            <td>{{aluno.user.email}}</td>
                            <td>{{aluno.matricula}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
