{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/projeto2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <h2>{{projeto.titulo}}</h2>
            <a class="button" href="{% url 'perfil' %}">Voltar para tela principal</a>
        </div>
        <div class="content">
            <div class="column">
                <p>Departamento: {{projeto.turma.disciplina.departamento}}</p>
                <p>Disciplina: {{projeto.turma.disciplina}}</p>
            </div>
            <div class="column">
                <p>Estado: {{projeto.status}}</p>
                <p>Professor: {{projeto.turma.professor}}</p>
            </div>
        </div>
        <div>
            <p>Descricao: {{projeto.descricao}}</p>
        </div>

        <div>
            <h3>Equipe</h3>
            <table class="tabela">
                <thead>
                    <tr>
                        <th class="header">Nome</th>
                        <th class="header">Email</th>
                        <th class="header">Matricula</th>
                    </tr>
                </thead>
            </table>
            <div class="scroll">
                <table class="tabela">
                    {% for aluno in membros %}
                        <tr>
                            <td>{{aluno.nome}}</td>
                            <td>{{aluno.user.email}}</td>
                            <td>{{aluno.matricula}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}