{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/turmas.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Turmas</p>
            <a class="button" href="{% url 'perfil' %}">Voltar para tela principal</a>
        </div>
        <hr class="space">

        <table class="tabela">
            <thead>
                <tr>
                    <th class="header">Codigo da turma</th>
                    <th class="header">Disciplina</th>
                    <th class="header">Período</th>
                </tr>
            </thead>
            <tbody>
            {% for turma in turmas %}
              <tr>
                <td>
                  <a href="{% url 'detalhe_turma' turma.id %}">{{ turma.codigo }}</a>
                </td>
                <td>{{ turma.disciplina }}</td>
                <td>{{ turma.ano }} - {{ turma.periodo }}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
