.container {
    width: 800px;
    background-color: #D1D3EC;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
  

p {
    margin-bottom: 20px;
    font-size: 25px;
}

.registration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adicionado para separar as linhas */
}

.button {
    padding: 15px 20px;
    margin-top: 15px;
    background-color: #A1B6FF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 25%;
    height: 30%;
}

.button:hover {
    background-color: #597dff;
}

.space {
    margin-bottom: 20px;
}

.field, .field2, .field3, .field4 {
    height: 45px;
    width: 48%; /* Alterado para ocupar a largura total */
    display: flex;
    margin-bottom: 10px; /* Adicionado para separar os campos */
    border-radius: 10px;
    margin-top: 20px;
    background: rgba(255,255,255,0.94);
}
.field3{
    height: 45px;
    width: 48%; /* Alterado para ocupar a largura total */
    display: flex;
    margin-bottom: 10px; /* Adicionado para separar os campos */
    border-radius: 10px;
    margin-top: 20px;
    background: rgba(255,255,255,0.94);

}
.field4{
    height: 45px;
    width: 48%; /* Alterado para ocupar a largura total */
    display: flex;
    margin-bottom: 10px; /* Adicionado para separar os campos */
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    background: rgba(255,255,255,0.94);

}

.field input, .field2 input {
    margin-left: 10px; /* Ajustado o alinhamento para todos os campos */
    height: 80%;
    width: calc(100% - 40px); /* Ajustado para incluir o ícone */
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}
.field3 input, .field4 input{
    margin-top: auto;
    margin-left: 10px; /* Ajustado o alinhamento para todos os campos */
    height: 80%;
    width: calc(100% - 40px); /* Ajustado para incluir o ícone */
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;

}

.field span, .field2 span, .field3 span, .field4 span {
    padding-left: 10px;
    color: #222;
    width: 40px; /* Ajustado para todos os ícones terem o mesmo tamanho */
    line-height: 45px;
}

.filtro {
    display: flex;
    justify-content: flex-end; /* Alterado para posicionar os botões à direita */
    width: 100%;
}

#find-button, #cancel-button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #A1B6FF;
    border: none;
    width: 20%;
    height: 30%;
    margin-left: 10px;
    margin-top:15% /* Ajustado para espaçamento entre os botões */
}

#find-button:hover, #cancel-button:hover {
    background-color: rgb(152, 152, 152);
}

.field label, .field2 label, .field3 label, .field4 label {
    position: relative;
    top: -20px; /* Ajustado para mover os rótulos para cima */
}