.container {
    width: 800px;
    background-color: #D1D3EC;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
  

p{
    margin-bottom: 20px;
}


.registration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-height: 40px;
    width: 90%;
}
  
.button {
    padding: 10px 20px;
    background-color: #A1B6FF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 30%;
}

.button:hover {
    background-color: #597dff;
}

.space{
    margin-bottom: 20px;
}

.field{
    height: 45px;
    width: 30%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    background: rgba(255,255,255,0.94);
}
.field2{
    height: 45px;
    width: 15%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    background: rgba(255,255,255,0.94);
}
.field3{
    height: 45px;
    width: 20%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    background: rgba(255,255,255,0.94);
}
.field4{
    height: 45px;
    width: 20%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    background: rgba(255,255,255,0.94);
}

.field span{
    padding-left: 10px;
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field2 span{
    padding-left: 10px;
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field3 span{
    padding-left: 10px;
    color: #222;
    width: 30px;
    line-height: 45px;
}
.field4 span{
    padding-left: 10px;
    color: #222;
    width: 30px;
    line-height: 45px;
}


.field input{
    margin-left: 10px;
    height: 80%;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}
.field2 input{
    margin-left: -25pxpx;
    height: 80%;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}
.field3 input{
    margin-left: -10px;
    height: 80%;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}
.field4 input{
    margin-left: 0px;
    height:80%;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}

.filtro{
    display: flex;
    margin: auto;
    width: 90%;
}

#find-button{
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    margin: auto;
}

#find-button:hover{
    background-color: rgb(152, 152, 152);
}
.field label {
    position: relative;
    top: -20px;
}
.field2 label {
    position: relative;
    top: -20px;
}
.field3 label {
    position: relative;
    top: -20px;
}
.field4 label {
    position: relative;
    top: -20px;
}