.container {
    max-width: 700px;
    width: 100%;
    background-color: #D1D3EC;
    padding: 25px 0px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

h2{
    text-align: center;
}

p{
    text-align: center;
}
    
.registration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 600px;
    min-height: 200px;
}
  
.field input[type="submit"] {
    padding: 10px 20px;
    background-color: #A1B6FF;
    color: black;
    border: none;
    cursor: pointer;
}
  
.field input[type="submit"]:hover {
    background-color: #597dff;
}

.field{
    height: 45px;
    width: 80%;
    display: flex;
    margin: auto;
    background: rgba(255,255,255,0.94);
  }

.field span{
    padding-left: 10px;
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}

.space{
    margin-top: 30px;
}

.error_message{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.message{
    display: flex;
    justify-content: center;

}

.row{
    display: flex;
    justify-content: center;
    max-height: 25px;
    margin-top: 5px;
}