.container {
    width: 900px;
    background-color: #D1D3EC;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

#header{
    font-size: 20px;
}

p{
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    max-height: 50px;
}
  
.tabela{
    width: 100%;
    margin: auto;
    border-color: black;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: white;
}

.scroll{
    overflow-y: auto;
    max-height: 200px;
    display: block;
    margin-bottom: 50px;
}

.header{
    border: 1px solid black;
}

td, th{
    padding: 10px;
    text-align: center;
}

tr{
    border-spacing: 0;
    border: 1px solid black;
}

.button {
    padding: 10px 20px;
    max-height: 40px;
    background-color: #A1B6FF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 35%;
}

.button:hover {
    background-color: #597dff;
}

.space{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: blue;
}