{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    {% if user.is_student %}
        <div class="container">
            <div class="row">
                <p>Tela principal do Aluno</p>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button" id="btn-sair">Sair</button>
                </form>
            </div>
            <hr class="space">
            
            <div class="btn row space">
                <button class="button">Consultar projeto</button>
                <p style="margin-right: 40px;">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="btn space">
                <button class="button">Turmas</button>
            </div>
            <div class="btn space">
                <button class="button">Projetos</button>
            </div>
            <div style="margin-bottom: 150px;"></div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <p>Tela principal do Professor</p>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button" id="btn-sair">Sair</button>
                </form>
            </div>
            <hr class="space">
            
            <div class="btn space">
                <button class="button">Consultar projeto</button>
            </div>
            <div class="btn space">
                <button class="button">Turmas</button>
            </div>
            <div class="btn space">
                <button class="button">Cadastrar aluno</button>
            </div>
            <div class="btn row space">
                <button class="button">Cadastrar turma</button>
                <p style="margin-right: 40px;">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="btn">
                <button class="button">Avaliar proposta de projeto</button>
            </div>
            <div style="margin-bottom: 150px;"></div>
        </div>
    {% endif %}
{% endblock %}