{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="static/css/projeto.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <h2 style="color: white;">{{projeto.nome}}</h2>
            <button class="button">Voltar para tela principal</button>
        </div>
        <div class="content">
            <div class="column">
                <p>{{projeto.departamento}}</p>
                <p>Origem: {{projeto.origem}}</p>
                <p>{{projeto.disciplina}}</p>
            </div>
            <div class="column">
                <p>{{projeto.fase_projeto}}</p>
                <p>Entrega prevista: {{projeto.entrega}}</p>
                <p>{{projeto.professor}}</p>
            </div>
        </div>
        <div>
            <p>
                {{projeto.descricao}}
            </p>
        </div>
        <div>
            <h3 style="color: white;">Documentos</h3>
            <table class="tabela">
                <thead>
                    <tr>
                        <th class="header">Nome</th>
                        <th class="header">Formato</th>
                        <th class="header">Tamanho</th>
                    </tr>
                </thead>
            </table>
            <div class="scroll">
                <table class="tabela">
                    {% for doc in projeto.documentos %}
                        <tr>
                            <td>{{doc.nome}}</td>
                            <td>{{doc.tipo_arquivo}}</td>
                            <td>{{doc.tamanho}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="space">
            <a style="color: #5BEBFF;" href="">Anexar documentos</a>
        </div>
        <div>
            <h3 style="color: white;">Equipe</h3>
            <table class="tabela">
                <thead>
                    <tr>
                        <th class="header">Nome</th>
                        <th class="header">Email</th>
                        <th class="header">Matricula</th>
                    </tr>
                </thead>
            </table>
            <div class="scroll">
                <table class="tabela">
                    {% for aluno in projeto.equipe %}
                        <tr>
                            <td>{{aluno.nome}}</td>
                            <td>{{aluno.email}}</td>
                            <td>{{aluno.matricula}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}