{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="static/css/resultado_projeto.css" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Resultados da consulta</p>
            <button class="button">Voltar para tela de consulta</button>
        </div>
        <hr class="space">

        <table class="tabela">
            <thead>
                <tr>
                    <th class="header">Nome</th>
                    <th class="header">Estado</th>
                    <th class="header">Periodo</th>
                    <th class="header">Disciplina</th>
                </tr>
            </thead>
        </table>
        <div class="scroll">
            <table class="tabela">
                {% for proj in projetos %}
                    <tr>
                        <td><input type="radio" name="rd-button">{{proj.nome}}</td>
                        <td>{{proj.fase_projeto}}</td>
                        <td>{{proj.periodo}}</td>
                        <td>{{proj.disciplina}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="btn_center">
            <button class="button">Ver projeto</button>
        </div>
        
    </div>
{% endblock %}