{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/cad_aluno.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            <p>Cadastre-se</p>
            <a href="{% url 'login' %}" class="button">Voltar para tela de login</a>
        </div>
        <form class="registration-form" method="post">
            {% csrf_token %}
            <div class="column space">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" required>

                <label for="email">E-mail:</label>
                <input type="email" name="email" required>

                <label for="senha">Senha:</label>
                <input type="password" name="senha" required>
            </div>

            <div class="column">
                <label for="nasc">Data de nascimento:</label>
                <input type="date" name="nasc" required>

                <label for="curso">Curso:</label>
                <select name="curso" required>
                  {% for curso in cursos %}
                    <option value="{{ curso.pk }}">{{ curso }}</option>
                  {% endfor %}
                </select>

                <label for="matricula">Matrícula:</label>
                <input type="text" name="matricula" required>
            </div>
            <input class="button" type="submit" value="Cadastrar">
        </form>
    </div>
{% endblock %}
