{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <h2>Login</h2>
        <div class="message">
            {% if form.errors %}
                <p class="error_message">Email ou senha incorretos!</p>
            {% endif %}
        </div>
        <form action="." class="registration-form" method="POST">
            {% csrf_token %}
            <div class="field">
                <span class="fa fa-user"></span>
                <input name="username" type="email" id="id_email" autofocus="true" placeholder="Digite seu Email" required>
            </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input name="password" type="password" id="id_password" class="pass-key" placeholder="Digite sua senha" required>
            </div>
            <div class="field space">
                <input type="submit" value="Entrar">
            </div>
        </form>

        <div class="row">
        <a href="">
            <p>
                Esqueceu a senha? Clique aqui
            </p>
        </a>
        </div>

        <div class="row">
        <p>Não possui cadastro? Cadastre-se</p>
        </div>
        <div class="row">
            <a href="{% url 'cadastrar_aluno' %}">
                <p>Aluno</p>
            </a>
            <div style="width: 45px;"></div>
            <a href="{% url 'cadastrar_professor' %}">
                <p>Professor</p>
            </a>
        </div>

    </div>
{% endblock %}