{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block 'head' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
{% if validlink %}
    <div class="container">
        <h2>Digite a nova senha</h2>
        <form action="" class="registration-form" method="POST">
            {% csrf_token %}
            
            {{form.new_password1.errors}}
            <div class="field">
                <span class="fa fa-user"></span>
                <input name="new_password1" type="password" id="id_new_password1" autofocus="true" placeholder="Digite a nova senha" required>
            </div>
            
            <div class="field space">
                <span class="fa fa-user"></span>
                <input name="new_password2" type="password" id="id_new_password2" autofocus="true" placeholder="Confirme a senha" required>
            </div>

            {{form.new_password2.errors}}
            <div class="field space">
                <input type="submit" value="Enviar">
            </div>
        </form>

    </div>
{% else %}
    <div class="container">
        <p>Link inválido. Solicite uma nova redefinição de senha.</p>
    </div>
{% endif %}
{% endblock %}