{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <h2>Cheque sua caixa de mensagens</h2>
        <p style="margin: 0px 20px;">Enviamos um email com instruções para configurar sua senha.</p>
        <p>Você deve receber o email em breve!</p>
    </div>
{% endblock %}