{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <h2>Esqueceu a senha?</h2>
        <p>Digite seu endereço de email abaixo para resetar a senha.</p>
        <form action="" class="registration-form" method="POST">
            {% csrf_token %}
            <div class="field">
                <span class="fa fa-user"></span>
                <input name="email" type="email" id="id_email" autofocus="true" placeholder="Digite seu Email" required>
            </div>
            <div class="field space">
                <input type="submit" value="Enviar">
            </div>
        </form>

    </div>
{% endblock %}