{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <h2>Senha resetada</h2>
        <p style="margin: 0px 20px;">Sua senha foi resetada com sucesso!</p>
        <a href="{% url 'login' %}">
            <p>Voltar para tela login</p>
        </a>
    </div>
{% endblock %}